.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar .navbar-brand{
  font-size:35px;
}
.navbar-nav .nav-item a{
  font-size:25px;
  margin-left:25px;
}

.banner img{
  width:500px;
  height:500px;
  object-fit: contain;
}
.about{
  
  box-shadow: 5px 10px 5px 10px #BC4123!important;
}
.about img{
  width:500px;
  height:500px;
  object-fit: contain;
}
.project img{
  height:200px;
  width:200px;
  object-fit:cover;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
